@charset "utf-8";
/* CSS Document */


/* Dyanmic Form Elements */
#Elements .chosen-container , 
#Edit_Field_properties .chosen-container {
    width:auto !important;
}
.displayNo{display:none;}
.nav{margin-bottom: 0px;}
.checkboxes_div label,
.radio_div label,
.bgWhitish label{
	display:inline-block;
}
input[type="text"] + img {vertical-align:top;}

.helpMark {
	background: url(../images/help.png) no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}
#Select_field {margin-bottom: 13px;}
.pointer {cursor:pointer}
.formElementsBox {

}

.formElementsBox ul {
	margin: 0px;
	list-style:none;
}

.formElementsBox ul li {
	display:inline-block;
	vertical-align:top;
	margin:5px 10px;
	border:1px solid #777;
	background: #f2f6f8;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	width:43%;
	padding:0px;
}


.formElementsBox ul li:hover{
	background: #f2f2f8;
	border:1px solid #C4A3D6;

}

.formElementsBox ul li a{
	display:block;
	padding: 10px;
	color:#000;
	text-decoration:none;
}

.formElementsBox ul li a img {
	display:inline-block; 
	vertical-align:middle; 
	margin-right:5px;
}

.ElementsShowd {
	
}

.ElementsShowd ul{
	margin: 0px;
	list-style:none;
}

.ElementsShowd ul li *{
		cursor:pointer;
}


.ElementsShowd ul li{
	padding:0px;
	margin:10px 0px;
	border:1px solid #fff;
	position:relative;
	text-transform:capitalize;
}

.ElementsShowd ul li .edit_mode {
	background: url("../images/icon_arrow_right.gif") no-repeat scroll 0 0 transparent;
    height: 24px;
    left: -14px;
    position: absolute;
    top: 15px;
    width: 24px;
    z-index: 999999;
}

.ElementsShowd ul li .element_div .helpMark {
	position: absolute;
	right: 6px;
	top: 5px;	
}
.ElementsShowd ul li.active {
	background:#f2f2f8;
	border:1px solid #aaa;
}

.ElementsShowd ul li:hover {
	border:1px solid #aaa;
	cursor:pointer;
	background:#f2f2f8 url(../images/icon_pencil.gif) 400px 12px no-repeat;
	
}


.ElementsShowd ul li .del_element,
.ElementsShowd ul li .dublicate{
	display:none;
}
.ElementsShowd ul li.active .del_element,
.ElementsShowd ul li.active .dublicate,

.ElementsShowd ul li:hover .del_element,
.ElementsShowd ul li:hover .dublicate{
	position:absolute; 
	bottom:-6px;
	display:block;
	width:16px;
	height:16px;
}

.ElementsShowd ul li.active .dublicate,
.ElementsShowd ul li:hover .dublicate{
	right:40px;
	background:url(../images/icon_duplicate.gif) no-repeat;
}

.ElementsShowd ul li.active .del_element,
.ElementsShowd ul li:hover .del_element{
	right:10px;
	background: url(../images/icon_delete.gif)no-repeat;
}


.ElementsShowd ul li .element_div b.v_middle{
	display:inline-block;
	line-height: 33px;
    vertical-align: top;
}

.ElementsShowd ul li .element_div.threeinputs input:not([type]), 
.ElementsShowd ul li .element_div.threeinputs input[type="color"],
.ElementsShowd ul li .element_div.threeinputs input[type="email"], 
.ElementsShowd ul li .element_div.threeinputs input[type="number"], 
.ElementsShowd ul li .element_div.threeinputs input[type="password"], 
.ElementsShowd ul li .element_div.threeinputs input[type="tel"], 
.ElementsShowd ul li .element_div.threeinputs input[type="url"], 
.ElementsShowd ul li .element_div.threeinputs input[type="text"]
{
	width:45px;
	margin-right:5px;
}

.ElementsShowd ul li .element_div.fourinputs input:not([type]), 
.ElementsShowd ul li .element_div.fourinputs input[type="color"],
.ElementsShowd ul li .element_div.fourinputs input[type="email"], 
.ElementsShowd ul li .element_div.fourinputs input[type="number"], 
.ElementsShowd ul li .element_div.fourinputs input[type="password"], 
.ElementsShowd ul li .element_div.fourinputs input[type="tel"], 
.ElementsShowd ul li .element_div.fourinputs input[type="url"], 
.ElementsShowd ul li .element_div.fourinputs input[type="text"]
{
	width:40px;
	margin-right:5px;
}

.ElementsShowd ul li .element_div.fourinputs span,
.ElementsShowd ul li .element_div.threeinputs span,
.ElementsShowd ul li .element_div.twoinputs span {
	display:inline-block;
	vertical-align:top;
}


.ElementsShowd ul li .element_div span label,
.ElementsShowd ul li .element_div.fourinputs label,
.ElementsShowd ul li .element_div.twoinputs label,
.ElementsShowd ul li .element_div.threeinputs label{
	display:inline-block;
	font-size:12px;
		
}


.ElementsShowd ul li .element_div{
	padding:5px;
}

.ElementsShowd ul li .element_div .checkboxes_div {
	display:block;
}
.ElementsShowd ul li .element_div .checkboxes_div  input[type="checkbox"]{
	margin-top:0px
}

.ElementsShowd ul li .element_div .radio_div {
	
	display:block;
}

.ElementsShowd ul li .element_div select.select200 {width:200px}
.ElementsShowd ul li .element_div select {width:auto; padding:0px;}
.ElementsShowd ul li .element_div textarea
{margin-bottom:10px;}

.ElementsShowd ul li .element_div select.small,
.ElementsShowd ul li .element_div input.small  {
	width:25%;
	margin-bottom:10px;
}
.ElementsShowd ul li .element_div select.medium,
.ElementsShowd ul li .element_div input.medium  {
	width:50%;
	margin-bottom:10px;
}
.ElementsShowd ul li .element_div select.large,
.ElementsShowd ul li .element_div input.large  {
	width:95%;
	margin-bottom:10px;
}
.ElementsShowd ul li .element_div textarea.small { height:50px;}
.ElementsShowd ul li .element_div textarea.medium { height:150px;}
.ElementsShowd ul li .element_div textarea.large { height:200px;}

.ElementsShowd ul li .element_div .address input[type="text"] {
	width:auto;
}


ul.ListItems {
	margin: 0px;
	list-style:none;
}

ul.ListItems li{
}

.ElementsShowd ul li .element_div. legend 
{
    margin-bottom:10px;
}



