<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'/>
        <title></title>
    </head>
    <body>
         <div align="left" style="Arial,Helvetica,sans-serif;">
	<div style="width:100%;">
	    <p>A new lead has been captured from your dashboard : adv_name</p>
            
            <p>Please view the data submitted below and follow up with the lead immediately:</p>
            
        </div>

        <div style='padding: 5px; background: rgb(142, 174, 255);'>
            <div style='background: #fff; padding: 10px;'>
<!--                <h2 style='border-bottom:1px solid #ddd; padding-bottom: 5px; color:#000000;'>Lead Details</h2>-->
                <div class='content formdetail clearfix' style='width:100%; margin:0px auto;font-family:Arial;'>
                    <div style='padding:0px 10px;'>
                        <div style='width:100%;margin:0px auto;font-family:Arial; padding:0px'>
                            <table style='width:100%; padding-left:0px;'>
                                <tr>
                                    <td style='width:100%;'>
                                        <table style='font-family: Arial;'>
                                            <tr>
                                                <td style='padding:5px 0px; font-size: 14px;width:400px;color:#000000;'>State Name:</td>
                                                <td style='padding:5px 0px;font-size: 14px;width:400px;color:#000000;'>state_name</td>		 
                                            </tr>
                                            <tr>
                                                <td style='padding:5px 0px; font-size: 14px;width:400px;color:#000000;'>State of residence:</td>
                                                <td style='padding:5px 0px;font-size: 14px;width:400px;color:#000000;'>statename</td>		
                                            </tr>

                                            <tr>
                                                <td style='padding:5px 0px; font-size: 14px;width:400px;color:#000000;'>Gender:</td>
                                                <td style='padding:5px 0px;font-size: 14px;width:400px;color:#000000;'>selectgender</td>		

                                            </tr>
                                            <tr>
                                                <td style='padding:5px 0px; font-size: 14px;width:400px;color:#000000;'>Date of birth:</td>
                                                <td style='padding:5px 0px;font-size: 14px;width:400px;color:#000000;'>dob</td>		
                                            </tr>


                                            <tr>
                                                <td style='padding:5px 0px;  font-size: 14px;width:400px;color:#000000;'>Coverage amount:</td>
                                                <td style='padding:5px 0px; font-size: 14px;width:400px;color:#000000;'>conamount</td>		
                                            </tr>

                                            <tr>
                                                <td style='padding:5px 0px; font-size: 14px;width:400px;color:#000000;'>Term Length:</td>
                                                <td style='padding:5px 0px;font-size: 14px;width:400px;color:#000000;'>teamlenght</td>		
                                            </tr>
                                            <tr>
                                                <td style='padding:5px 0px; font-size: 14px;width:400px;color:#000000;'>Tobacco / Nicotine user?:</td>
                                                <td style='padding:5px 0px;font-size: 14px;width:400px;color:#000000;'>Tobacco_Nicotine_user</td>		
                                            </tr>
                                            <tr>
                                                <td style='padding:5px 0px; font-size: 14px;width:400px;color:#000000;'>Tell us about your Health:</td>
                                                <td style='padding:5px 0px;font-size: 14px;width:400px;color:#000000;'>health</td>		

                                            </tr>
                                            <tr>
                                                <td style='padding:5px 0px; font-size: 14px;width:400px;color:#000000;'>Full Name:</td>
                                                <td style='padding:5px 0px;font-size: 14px;width:400px;color:#000000;'>fullname</td>		
                                            </tr>

                                            <tr>
                                                <td style='padding:5px 0px; font-size: 14px;color:#000000;'>Valid Email:</td>
                                                <td style='padding:5px 0px;font-size: 14px;color:#000000;'>email</td>		
                                            </tr>
                                            <tr>
                                                <td style='padding:5px 0px; font-size: 14px;width:400px;color:#000000;'>Phone number:</td>
                                                <td style='padding:5px 0px;font-size: 14px;width:400px;color:#000000;'>phone</td>		
                                            </tr>
                                        </table>
                                    </td>
                                    
                                </tr>
                            </table>  
                            <div>
                                <div style='clear:both;'></div>
                            </div>
                        </div>   
                    </div>
                </div>
              
            </div>
         </div>
          <p><b>Regards,</b><br />Key Verticals Admin.</p>
          </div>
    </body>
</html>